.carousel-image {
    height: 600px;
    width: 100%;
    object-fit: contain;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(100%);
}

.carousel-caption {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.caption-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    border-radius: 5px;
}